<h1>About On the Rails</h1>

<p>
  On the Rails is my personal blog site about things that I find technically interesting enough to write about. It mainly
  focuses on topics related to Rails and Ruby, but at times I may write additional posts on other interesting topics.
</p>

<%= link_to 'Roadmap', roadmap_path %>