<h1 class="text-center">Attributions</h1>

<p class="p-4">The following are miscellaneous attributions for various assets and works as requested by their licenses:</p>

<table class="p-4">
  <thead class="p-4">
    <tr>
      <th class="p-4">Asset(s)</th>
      <th class="p-4">License(s)</th>
    </tr>
  </thead>
  <tbody class="p-4">
    <tr>
      <td>
        <ul>
          <li><%= link_to 'Favicon', 'favicon.ico' %></li>
        </ul>
      </td>
      <td>
        <ul>
          <li><%= link_to 'Ruby Logo', 'https://www.ruby-lang.org/en/about/logo/', target: '_blank', rel: 'noopener noreferer' %></li>
          <li><%= link_to 'License', 'https://creativecommons.org/licenses/by-sa/2.5/', target: '_blank', rel: 'noopener noreferer' %></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>