<h1>Attributions</h1>

<p>The following are miscellaneous attributions for various assets and works as requested by their licenses:</p>

<table>
  <thead>
    <tr>
      <th>Asset(s)</th>
      <th>License(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li><%= link_to 'Favicon', 'favicon.ico' %></li>
        </ul>
      </td>
      <td>
        <ul>
          <li><%= link_to 'Ruby Logo', 'https://www.ruby-lang.org/en/about/logo/', target: '_blank', rel: 'noopener noreferer' %></li>
          <li><%= link_to 'License', 'https://creativecommons.org/licenses/by-sa/2.5/', target: '_blank', rel: 'noopener noreferer' %></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>