<h1 class="text-center">Content Roadmap</h1>

<h2 class="text-center">So many topics, so little time...</h2>

<h3 class="p-4">Here are some topics that I plan to write about:</h3>

<ul class="mx-auto">
  <li>Handling Static Assets in Rails 7</li>
  <li>Organizing a Complex Rails Project</li>
  <li>Hotwire</li>
</ul>
