<h1>Content Roadmap</h1>

<h2>So many topics, so little time...</h2>

<p>Here are some topics that I plan to write about:</p>

<ul>
  <li>Handling Static Assets in Rails 7</li>
  <li>Organizing a Complex Rails Project</li>
</ul>
