.back-link {
  width: 70%;
}

.directory-list {
  width: 70%;
}

.pagination-info {
  width: 70%;
}

.standard-centered {
  width: 70%;
  margin: 0 auto
}

.post-content {
  height: 80vh;

  border: 1px solid black;
}

.date-cell {
  width: 30%;
  padding: 3%;
}
